/*
This file is part of SystemTestPortal.
Copyright (C) 2017  Institute of Software Technology, University of Stuttgart

SystemTestPortal is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SystemTestPortal is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with SystemTestPortal.  If not, see <http://www.gnu.org/licenses/>.
*/

/* Basic rules */
html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	padding-top: 4.5rem;
	padding-bottom: 40px;
	min-width: 20rem;
	min-height: 100%;
	margin: 0;
    position: relative;
	background-color: #eee;
}

.footer {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	height: 40px;
	color: rgba(255,255,255,.5);
}

.action-bar {
	border-bottom: 1px solid rgba(0,0,0,.125);
}

.tab-side-bar {
	border-left: 1px solid rgba(0,0,0,.125);
}
.tab-side-bar-row {
	margin-left: 0;
	margin-right: 0;
}

#mainContent {
	margin-bottom: 50px;
}

.searchbar {
	padding-bottom: 1.25rem;
}
/* Basic rules end */

/* Cursor modifier */
/* pointer for links */
.cursor-clickable {
	cursor: pointer;
}

/* standard pointer */
.cursor-not-clickable {
	cursor: default;
}

/* pointer for disabled links */
.cursor-not-allowed {
	cursor:not-allowed !important;
}
/* Cursor modifier end*/

/* Signin dialog */
.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
/*Signin end */

/* tooltip styles */
.tooltip-inverted .tooltip-inner{
	background-color: white;
	color: #212529;
}
.tooltip-inverted.bs-tooltip-right .arrow:before {
	border-right-color: white;
}
.tooltip-inverted.bs-tooltip-left .arrow:before {
	border-left-color: white;
}
.tooltip-inverted.bs-tooltip-bottom .arrow:before {
	border-bottom-color: white;
}
.tooltip-inverted.bs-tooltip-top .arrow:before {
	border-top-color: white;
}
.tooltip-inverted.bs-tooltip-right .arrow:before ,
.tooltip-inverted.bs-tooltip-left .arrow:before ,
.tooltip-inverted.bs-tooltip-bottom .arrow:before ,
.tooltip-inverted.bs-tooltip-top .arrow:before {
	color: white;
}
/*tooltip end */

/* Project thumbnail styles */
.project-small-thumbnail {
	width: 100%;
}
.project-small-thumbnail img{
	width: 100%;
	height: 100%;
}
.project-thumbnail-background {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: calc(100% - 30px);
	height: 100%;
	background: #59A9FF;
}
.project-thumbnail-content {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: calc(0.7 * (100% - 30px));
	height: 70%;
	background: #007bff;
	border: 2px white solid;
	border-radius: 20%;
}
#project-thumbnail-letter {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
	font-size: 3em;
}
/* Project thumbnail styles end */

/* Print styles */
/* hides form fields in print view */
.hide-form {
	display: none;
}

/* text area for manual on paper execution */
.fill-in-area {
	background-color: lightgray;
	-webkit-print-color-adjust: exact;
	color-adjust: exact;
	height: 40px;
}

/* text area for manual on paper execution */
.fill-in-element {
	background-color: lightgray;
	-webkit-print-color-adjust: exact;
	color-adjust: exact;
}

/* two line text area for manual on paper execution */
.fill-in-area-two-line {
	height: 80px;
}

.non-collapsed-table {
	border-collapse: unset;
}

.badge {
	margin-right: 5px;
}

.tab-card {
	border-top:	0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.text-card {
	padding: .5rem .75rem;
}
.text-card .card-block {
	padding: 0;
}

#userMenuDropdown {
	left: initial;
	right: 0;
}
.testCaseLine, .testSequenceLine, .projectLine, .versionLine, .clickIcon, [type=button] { /*.groupLine*/
	cursor: pointer;
}

.testCaseLine:hover, .testSequenceLine:hover {
	background-color: #eeeeee;
}

.checkbox-list-element {
	margin-bottom: 0;
}

.checkbox input[type="checkbox"]
{
    margin-right: 5px;
}


/* time buttons */
#hour-plus, #minute-plus, #hour-minus, #minute-minus {
	padding-top: 0;
	padding-bottom: 0;
	line-height: 17.5px;
	border-left: 0;
	border-right: 1px rgba(0, 0, 0, 0.15) solid;

	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#hour-plus, #minute-plus {
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0;

}
#hour-minus, #minute-minus {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0.25rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}
/* time buttons end */


abbr[title] {
	border-bottom: none !important;
	text-decoration: none !important;
}

ol[class*="list-group"] {
	list-style: decimal inside;
}

ol[class*="list-group"]>.list-group-item {
	display: list-item;
}

.list-line-item {
	float: right;
}

.search-field {
	max-width: 300px;
}


/* Help Dialog */
.help-table td {
	vertical-align: middle;
	height: 40px;
}
.help-table {
	border-collapse: separate;
	border-spacing: 10px;
}
/* Help Dialog end */

/* hides the list dots at list menus */
#inputTestCaseSUTVersions {
	list-style-type: none;
}


/* media rules for smaller and bigger screen sizes */

/* maximum width of main container */
@media (min-width: 1200px) {
	.container-fluid {
		max-width: 1140px !important;
	}
}

/* change display style for smaller screens */
@media (max-width: 767px) {
	.mobile-full-width {
		margin-left: -15px;
		margin-right: -15px;
	}
	.mobile-full-width > div > .card {
		border: 0;
		border-radius: 0;
	}
}


/* hide tabs, when screen is too small to display them*/
/* show dropdown entries instead */
@media (min-width: 813px) {
	#more,
	.mobile-full-width > ul > li > div > .show-1 {
		display: none;
	}
}
@media (max-width: 812px) {
    .mobile-full-width > ul > .hide-1 {
        display: none;
    }
	#more,
    .mobile-full-width > ul > li > div > .show-1 {
        display: block;
    }
 }

@media (min-width: 676px) {
	.mobile-full-width > ul > li > div > .show-2 {
		display: none;
	}
}
@media (max-width: 675px) {
    .mobile-full-width > ul > .hide-2 {
        display: none;
    }
    .mobile-full-width > ul > li > div > .show-2 {
        display: block;
    }
}


@media (min-width: 576px) {
	.mobile-full-width > ul > li > div > .show-3 {
		display: none;
	}
}
@media (max-width: 575px) {
    .mobile-full-width > ul > .hide-3 {
        display: none;
    }
    .mobile-full-width > ul > li > div > .show-3 {
        display: block;
    }
}


@media (min-width: 435px) {
	.mobile-full-width > ul > li > div > .show-4 {
		display: none;
	}
}
@media (max-width: 434px) {
    .mobile-full-width > ul > .hide-4 {
        display: none;
    }
    .mobile-full-width > ul > li > div > .show-4 {
        display: block;
    }
}


@media (min-width: 329px) {
	.mobile-full-width > ul > li > div > .show-5 {
		display: none;
	}
}
@media (max-width: 328px) {
	.mobile-full-width > ul > .hide-5 {
		display: none;
	}
	.mobile-full-width > ul > li > div > .show-5 {
		display: block;
	}
}


/* Print rule: Unfold all entries in print view */
@media print {
	.collapse {
		display: block !important;
		height: auto !important;
	}
}